html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
}
main{
  height: auto;
  min-height: 100%;
}
footer{
  left: 0;
  bottom: 0;
  height: 35px;
  width: 100%;
  font-size: .8571rem;
  position: relative;
  background-color:#fff;
}
.logo{
  width: 2.2em;
  padding: 5px;
}
.sns-icons{
  float:left; 
  margin:3px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.Progress {
    display: flex;
    height: 8px;
    overflow: hidden;
    background-color: var(--color-auto-gray-2);
    border-radius: 6px;
    outline: 1px solid transparent;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .card-text{
    height:145px;
  }
}
.card{
  min-height: 100%;
}