/* hover */
.se-module-text:hover { background-color: #fae0e094; color: #000000; }
.relation-word:hover { background-color: #fae0e094; color: #000000; }
.card-list:hover { background-color: #fae0e094; color: #000000; }
.card:hover { background-color: #fae0e094; color: #000000; }
.item-list:hover { background-color: #fae0e094; color: #000000; }

/* style */
html { 
    scroll-behavior: smooth; 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
header{
    min-width: 420px;
    width: 100%;
    height: 111px;
    left: 0;
}
main{
    width: 100%;
    /* height: 100%; */
    height: calc(100% - 111px);
    padding: 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding-bottom: 60px; */
    /* min-height: 100%; */
    /* height:calc(100% - (171px)); */
}
.footer{
    position: relative;
    padding: 10px 10px;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    background-color:#fff;
    font-size: .6971rem;
    /* min-width: 450px; */
    /* border-top: 1px solid #c7c7c7; */
    /* transform: translateY(-100%); */
    /* overflow: hidden; */
    /* opacity: 0; */
    /* transition-duration: .3s; */
}
.table {
    vertical-align: middle;
}
.table>thead {
    vertical-align: middle;
}

/* Scroll */
body::-webkit-scrollbar { width: 10px; height: 10px; }
body::-webkit-scrollbar-thumb { background-color: rgba(200, 200, 200, 0.6); border-radius: 10px; }
body::-webkit-scrollbar-track { background-color: rgba(200, 200, 200, 0.3); border-radius: 10px; }

/* Frame Segment */
.line0 {
    /* min-width: 840px; */
}
.line0-seg-1{
    min-width: 200px;
}
.line0-seg-2{
    min-width: 400px;
}
.line1 {
    /* min-width: 840px; */
}
.line1-seg-1{
    min-width: 400px;
}
.line1-seg-2{
    min-width: 400px;
}
.line2{
    /* min-width: 840px; */
}
.line2-seg-1{
    min-width: 400px;
}
.line2-seg-2{
    min-width: 400px;
}
.line3{
    min-width: 450px;
    margin-top: 10px;
}

/* Class */
.header-container {
    max-width: 100%;
    padding: 10px;
}
.main-container, .container-lg, .container-md, .container-sm {
    height: auto;
    max-width: 100%;
    min-height: 100%;
    /* padding-bottom: 80px; */
}
.container, .container-lg, .container-md, .container-sm {
    max-width: 100%;
    min-height: 100%;
    height: auto;
}
.list_log{
    width:15px;
    height:15px;
    margin: -1px 5px 0 0;
}
.set-top{
    text-align: center;
    margin-top: 165px;
}
.set-spinner{
    padding-top: 150px;
}
.relation-word{
    cursor:pointer;
}
.active {
    background-color: white !important;
}
.frame-form{
    border:0px; 
    background-color:transparent; 
    padding:0;
    position: relative; 
    display: flex; 
    flex-direction: column; 
    min-width: 0; 
    word-wrap: break-word; 
    background-color: #fff; 
    background-clip: border-box; 
    border: 1px solid rgba(0,0,0,.125); 
    border-radius: .5rem; 
    height: 400px; 
    overflow-y: auto;
    overflow-x: none;
    flex: 1 1 auto;
    background-color: rgb(0 0 0 / 5%);

    /* overflow: hidden;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    display: block; */
}
.report-form{
    border:0px; 
    background-color:transparent; 
    padding:0;
    position: relative; 
    display: flex; 
    flex-direction: column; 
    min-width: 0; 
    word-wrap: break-word; 
    background-color: #fff; 
    background-clip: border-box; 
    border: 1px solid rgba(0,0,0,.125); 
    border-radius: .5rem; 
    height: 155px; 
    overflow-y: auto;
    overflow-x: none;
    flex: 1 1 auto;
    /* background-color: rgb(0 0 0 / 5%);*/
}
.tab-form{
    width: 100%;
    overflow-y: auto;
}
.tab-form #resultList{
    padding: 0;

    /* 
    overflow-y: scroll;
    height: 100%;
    width: 100%; */
}
.btn-action{
    margin-top:-5px;
}
.item-list, .word-list{
    cursor: pointer;
    padding: 8px 10px 0px 15px;
    border-bottom: 1px solid #d0d0d0;
}
.item-date{
    float:right;
    font-size: 0.6971rem;
}
.item-cnt{
    float:right;
    text-align: left;
}
.cnt-pc{
    display: inline-block;
    width: 75px;
    text-align: right;
    font-size: .6971rem;
    color: #0065ff96;
    padding-right: 8px;
}
.cnt-mo{
    display: inline-block;
    width: 75px;
    text-align: right;
    font-size: .6971rem;
    color: #00800082;
}
.item-skip{
    width: 300px;
    display: inline-block;
    
    /* 생략 ...  */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-word{
    display: inline-block;
    overflow: hidden;
}
.report-cnt-form {
    display: flex;
    text-align: center;
    color: #6c757d;
    padding-top: 15px;
}
.report-mo-cnt {
    flex:1;
}
.report-result {
    width: 100%;
    height: 100%;
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    color: orangered;
}
.result-color-none {
    color: rgb(122, 120, 120);
}
.cnt-font{
    font-size: 1.0rem
}
.report-cnt-log {
    margin-right: -25px;
    padding-left: 15px;
}
.item-icon {
    color: #6c757d;
    margin-right: 5px;
}
.b-color {
    color: #fb6767b8;
}
.c-color {
    color: #2673d794;
}
.w-color {
    color: #94949494;
}
/* -item { position: absolute; display: none; overflow: hidden; max-width: 100%; height: 100%; line-height: 44px; box-sizing: border-box; padding: 0px 10px 0px 10px; font-size: 16px; text-align: left; vertical-align: top; } */

/* ID */
#tab-nav{
    display: none;
}
#tabs ul { 
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0; 
    background-color:transparent;
}
#tabs li { 
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    border: 1px solid #3084ff80; 
    background: #3084ffad;
}
#tabs li a { 
    padding: .3em 1em;
}
#tabs li .ui-icon-close { 
    cursor: pointer; border:0px; background-color:transparent;
}
#tabs .tab-form { 
    padding: 0;
}
#btnArea{
    min-width: 100px;
}
#issueArea, #wordArea, #keywordArea, #reportArea {
    overflow: hidden;
}
#issueList, #wordList, #keywordList {
    overflow-y: auto;
}
#reportTitle{
    padding: 6px 0 5px 11px;
    background: #3a3a3a8f;
    color: white;
    position: relative;
    float: left;
    width: 100%;
    height: 30px;
}
#reportResultTitle{
    padding: 6px 0 5px 11px;
    background:#ff1010c7;
    color: white;
    position: relative;
    float: left;
    width: 100%;
    height: 30px;
}
#issueTitle{
    padding: 6px 0 5px 11px;
    background: #f27575d1;
    color: white;
    position: relative;
    float: left;
    width: 100%;
    height: 30px;
}
#wordTitle{
    padding: 6px 0 5px 11px;
    background: #63bc6ad1;
    color: white;
    position: relative;
    float: left;
    width: 100%;
    height: 30px;
}
#keywordTitle{
    display: block;
    padding: 6px 0 5px 11px;
    background: #bc63b7d1;
    color: white;
    position: relative;
    float: left;
    width: 100%;
    height: 30px;
}